* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #020617;
  padding: 25px;
  width: 350px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-box {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 8px 12px;
  border: none;
  background: #38bdf8;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  margin-top: 20px;
}

li {
  background: #1e293b;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 8px;
}
.completed {
  text-decoration: line-through;
  color: #94a3b8;
}
.delete {
  float: right;
  cursor: pointer;
  color: #f87171;
  font-weight: bold;
}
#progress {
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
}



